i

/* Your styles goes here. */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.input {
    width: 30%;
}
.container {
    scroll-margin-top: 4rem;
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    max-height: calc(100vh - 4rem);
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    & > * {
        width: 100%;
        text-align: center;
    }
}

.overlay {
    height: calc(100vh - 3rem);
    width: 100%;

    position: absolute;
    top: 3rem;
    z-index: 1;
}

.elo-display {
    margin: auto;
}

.hidden {
    visibility: hidden;
}

.header {
    display: flex;
    justify-content: flex-end;
}
