i

/* Your styles goes here. */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.input {
    width: 30%;
}
.container {
    height: calc(100vh - 3rem);
    max-height: calc(100vh - 3rem);
    width: 100%;
    max-width: 1000px;

    margin: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: auto;

    & > * {
        width: 100%;

        margin: 0 auto;

        text-align: center;
    }
}

.elo-display {
    margin: auto;
}

.hidden {
    visibility: hidden;
}

.header {
    display: flex;
    justify-content: flex-end;
}
