.box {
    width: 100%;

    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: auto;

    & > * {
        margin: 0.5rem auto !important;
    }

    & > :first-child {
        margin-top: auto !important;
    }

    & > :last-child {
        margin-bottom: auto !important;
    }
}
